body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 1px solid white;
}

.controls {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

input[type="range"] {
    margin-left: 10px;
}
.label-color {
    color: orange; 
}